* {
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


html,
body {
    background-color: black;

}

nav-bg {
    background-color: black;
}

.bg1 {
    color: aliceblue;
    /*  filter: hue-rotate(122deg); */

    /* cursor transparente*/
    caret-color: transparent;
}

@keyframes anim {
    0% {
        filter: hue-rotate(0deg);
    }

    25% {
        filter: hue-rotate(36deg);
    }

    50% {
        filter: hue-rotate(80deg);
    }

    75% {
        filter: hue-rotate(122deg);
    }
}


.retrato {
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);


    border: 2px solid yellowgreen;
}